/* Style of website */
body {
	font-family: Arial, sans-serif;
	margin: 40px;	
	background-color: #fff8f0;
}
/* Header */
 header {
	background-color: #715c2c;
	padding: 0;
 }
/* --- Navigation Bar --- */
nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  padding: 0 20px;
  background-color: #715c2c;
}
#logo {
  height: 80px;
  width: auto;
  margin-right: 20px;
}
nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}
nav ul li {
  margin: 0;
}
nav ul li a {
 	display: block;
	color: #c8a775;
	font-size: 18px;
	padding: 0 10 px;

}
/* --- Banner for main page --- */
.main-page-banner {
	width: 100%;
	height: auto;
	justify-content: center;
	object-fit: cover;
	display: block;
	margin: 0 auto 20px;
}
/* --- Main Page Content Section --- */
.main-content {
    width: 50vw;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
}

/* --- Recipe Promoting on main page  --- */
.recipe-promoting {
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;
  background: #fff4e6;
  border-radius: 10px;
  max-width: 600px;
}
.recipe-promoting .btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  background: #715c2c;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
/* --- Footer --- */
footer{
	margin-top: 40px;
	font-size:0.9em;
	color: #888;
}

/* --- Oven Page --- */

.productpage {
  font-family: Arial, sans-serif;
  margin: 30px;
  background-color: #fff8f0;
}
.product-page-h1 {
  color: #b85c38;
}
.oven-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.oven {
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}
.coming-soon {
  width: 100%;
  height: 200px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-size: 1.2em;
  border-radius: 8px;
  font-weight: bold;
}
.oven h2 {
  font-size: 1.2em;
  margin: 10px 0 5px;
}
.oven p {
  color: #555;
  font-size: 0.9em;
}

