body {
	font-family: Arial, sans-serif;
	margin: 40px;	
	background-color: #fff8f0;
}
 header {
	background-color: #715c2c;
	padding: 0;
 }

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 20px;
	background-color: #715c2c;
}

ul{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul li {
	margin-right: 20px;
}

ul li a{
	text-decoration: none;
	color: #c8a775;
	font-size: 18px;
}

#logo{
	height: 80px;
	width: auto;
}
.banner {
	width: 80%;
	height: 100vh;
	object-fit: cover;
	margin-bottom: 20px;
}

section{
	margin-top: 20px;
	font-size: 1.2em;
}
footer{
	margin-top: 40px;
	font-size:0.9em;
	color: #888;
}
